.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.loader {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  border: 8px solid #3498db;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
