#homepage_logo {
  width: 5em;
}

body {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

#learning_goals_h1 {
  text-align: center;
}

#learning_goals_table {
  display: grid;
  border-collapse: collapse;
}

#learning_goals_table th, #learning_goals_table td {
  border: 2px solid black;
  padding: 8px;
}
