<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/water.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  $CSS_LINKS$
  
  <title>$TAB_TITLES$</title>
</head>
<body>
  <!-- navigations -->
  <nav id="top_nav">
    <a href="/"><img id="homepage_logo" src="/assets/images/homepage_logo.png"></a>
    <div id="clock_date">
    <span id="clock"></span>
    <br>
    <span id="date"></span>
    <img
    id="learning_goals_image"
    src="/assets/images/learning_goals.png"
    alt="learning_goals"
    />
  </div>
  </nav>
  <main>